## Files to ignore
# From previous tests
sample_sheet.yaml
config/variables.yaml
tests/test_sample_sheet.yaml
config/user_parameters.yaml

# Jupyter notebook tests
*.ipynb



## Folders to ignore
# From previous tests
raw_data/
out/
db/
db_test/
# Software downloaded
bin/kma/
bin/cge-mlst
bin/kmerfinder/
bin/kmerfinder_db/
# Snakemake
.snakemake/
.vscode/
